env:
  accelerator: "auto" # [auto, cuda, cpu, gpu, tpu]
  n_devices: 1 # int, list[int], str, -1 = all devices
  precision: "bf16-mixed" # 32, 16, bf16 / mixed (model params remain in 32), true (params are get cast)

optimizer:
  lr: 5e-4
  weight_decay: 0.1

# sampler: # TODO: add sampler to config with target

train:
  epochs: 1
  gradient_clip_val: 1.0
  max_steps: 30_000 
  val_interval: 1_000

callbacks:
  generate:
    max_new_tokens: 50

data:
  dataset: "roneneldan/TinyStories"
  streaming: true # whether to stream the dataset or not
  n_val_samples: 512
  batch_size: 64
  target_batch_size: 256

# scheduler:
#   warmup_steps: 1e3
#   max_steps: 5e4
